{
    "plugins": [
      ["module-resolver", {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }]
    ]
} 